.element{
    background-color: green;
    border: 2px dashed red;
    height: 220px;
    width: 350px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
    
}