.element{
    background-color: green;
    border: 2px dashed red;
    height: 220px;
    width: 350px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.task-2{
    background-color: gray;
}

.top-left-img{
    margin-bottom: 18px;
    margin-right: 30px;
    float: left;
}

.right-img{
    
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    float:right;
    width: 200px;
}